/*
COLOR PALETTE

BLACK: #201A23
WHITE: #FBFBFB
DARK: #44354A
COLOR: #9E4770

*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; 
    color: #FBFBFB;
    background: #201A23;
} 

.salesboard {
   text-align: center;
   max-width: 58.75rem;
   margin: 0 auto;
   padding: 0 2rem 2rem;
}

img {
    border: 0.625rem solid #44354A;
    border-radius: 50%;
    width: 13.75rem;
    margin-bottom: 1.5rem;
}

/*Buttons*/
button {
    background: #9E4770;
    height: 5rem;
    width: 11.875rem;
    font-size: 2.812rem;
    border: 0;
    border-radius: 0.625rem;
    cursor: pointer;
}

button:active {
    scale: 0.98;
}

i.fa-solid {
    position: absolute;
    top: 2.5rem;
    right: 15rem;
    font-size: 1.5rem;
    line-height: 1.4;
    width: 2rem;
    height: 2rem;
    background: #44354A;
    color: #FBFBFB;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}

/*Headings*/
h1 {
    font-size: 3rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.3125rem;
}

/*Containers*/
.bar {
    background: #44354A;
    border-radius: 2.5rem;
    font-size: 2rem;
    line-height: 3.5rem;
    min-height: 3.5rem;
}

#sales-bar,
#achievements-bar {
    text-align: left;
    padding: 0.3125rem 1.5rem;
}

.product-btn-container,
.revenue-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.total-revenue,
.total-commission {
    width: 100%;
}

.revenue-bar,
.commission-bar {
    height: 5rem;
    border-radius: 5rem;
    line-height: 2;
    font-size: 2.5rem;
}


/*Light mode*/
body, 
img,
button,
.bar,
i.fa-solid {
    transition: background-color 0.5s, color 0.5s, border 0.5s; 
}

body.light {
    background: #bfafc6;
    color: #44354A;
}

body.light img {
    border: .625rem solid #977ca4;
}

body.light button {
    background: #B86089;
}

body.light .bar {
    background: #977ca4;
    /*background: #a791b1;*/
}

body.light i.fa-solid {
    color: #44354A;
    background: #977ca4;
}